{% extends "article_base.html" %}

{% block article %}
<h4>Latest Works</h4>
{% if latest_work_list %}
  <ul>
  {% for work in latest_work_list %}
    <li><a href="{% url 'detail' work.id %}">{{ work.title }}</a></li>
  {% endfor %}
  </ul>
{% else %}
  <p>No works are available.</p>
{% endif %}

<h4>Latest Writers</h4>
{% if latest_writer_list %}
  <ul>
  {% for writer in latest_writer_list %}
    <li>{{ writer.name }}</li>
  {% endfor %}
{% else %}
  <p>No writers are available.</p>
{% endif %}

{% endblock %}
