{% extends "article_base.html" %}

{% load ensemble_extras %}
{% block page_title %}{{ work.title_jp }}{% endblock %}
{% block article %}
<h3>{{ work.title }}</h3>

{% if work.movement_set.all %}
  <ul>
  {% for movement in work.movement_set.all %}
  <li>{{ movement.order }}. {{ movement }}</li>
  {% endfor %}
  </ul>
{% endif %}

{% if work.workmusiccategory_set.all %}
  <h4>Category</h4>
  {% obj_join_with_link work.workmusiccategory_set.all "/" "music_category.name_jp" "music_category.id" "music_category_detail" %}
  <br>
{% endif %}


{% if work.time_minute and work.time_second %}
  <h4>Time</h4>
  {{ work.time_minute }} min. {{ work.time_second }} sec.<br>
{% endif %}

{% if work.workcomposer_set.all %}
  <h4>Composer</h4>
  {% obj_join_with_link work.workcomposer_set.all "<br>" "composer.name_jp" "composer.id" "writer_detail" %}
{% endif %}

{% if work.workarranger_set.all %}
  <h4>Arranger</h4>
  {% obj_join_with_link work.workarranger_set.all "<br>" "arranger.name_jp" "arranger.id" "writer_detail" %}
{% endif %}

<h4>Players</h4>
<table class="table table-bordered table-condensed">
  <tr>
    <th></th>
    <th>Instruments</th>
  <tr>
{% for order, val in players.items %}
  <tr>
    <td>{% if order %}{{ order }}{% endif %}</td>
    <td>
      {% for id, instrument in val.items %}
      <a href="{% url 'instrument_detail' instrument.link_id %}">{{ instrument.name }}</a>
        {% if not forloop.last %}
          /
        {% endif %}
      {% endfor %}
    </td>
{% endfor %}
</table>

{% if work.score_set.all %}
  <h4>Score</h4>
  <ul>
  {% for score in work.score_set.all %}
  <li>{{ score.publisher }}
  {% if score.asin %}
  (<a href="http://www.amazon.co.jp/o/ASIN/{{ score.asin }}/{{ amazon_id }}">Amazon</a>)
  {% endif %}
  </li>
  {% endfor %}
  </ul>
{% endif %}
{% endblock %}
