{% extends "article_base.html" %}

{% load ensemble_extras %}
{% block page_title %}{{ work.title_jp }}{% endblock %}
{% block article %}
<h3>{{ work.title }}</h3>

{% if work.workmusiccategory_set.all %}
  Category: {% obj_join work.workmusiccategory_set.all "/" "music_category.name_jp" %}<br>
{% endif %}

{% if work.time_minute and work.time_second %}
  Time: {{ work.time_minute }} min. {{ work.time_second }} sec.<br>
{% endif %}

{% if work.workcomposer_set.all %}
  <h4>Composer</h4>
  {% obj_join work.workcomposer_set.all "/" "composer.name_jp" %}
{% endif %}

{% if work.workarranger_set.all %}
  <h4>Arranger</h4>
  {% obj_join work.workarranger_set.all "/" "arranger.name_jp" %}
{% endif %}

<h4>Players</h4>
<table class="table table-bordered table-condensed">
  <tr>
    <th></th>
    <th>Instruments</th>
  <tr>
{% for order, val in players.items %}
  <tr>
    <td>{{ order }}</td>
    <td>
      {% for id, instrument in val.items %}
      <a href="{% url 'instrument_detail' id %}">{{ instrument }}</a>
        {% if not forloop.last %}
          /
        {% endif %}
      {% endfor %}
    </td>
{% endfor %}
</table>

<h4>Score</h4>
<ul>
{% for score in work.score_set.all %}
<li><a href="http://www.amazon.co.jp/o/ASIN/{{ score.asin }}/{{ amazon_id }}">Amazon</a></li>
{% endfor %}
</ul>
{% endblock %}
